.x-scrollbar,
.x-scrollbar__placeholder {
  height: 12px;
  flex-shrink: 0;
}

.x-scrollbar {
  cursor: ew-resize;
}

.x-scrollbar__track {
  position: relative;
  height: 100%;
  background: var(--scrollbar-track);
  border-radius: 6px;
}

.x-scrollbar__thumb {
  position: absolute;
  top: 1px;
  bottom: 1px;
  border-radius: 5px;
  background: var(--scrollbar-thumb);
  min-width: 12px;
  cursor: grab;
}

.x-scrollbar__thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

.x-scrollbar__thumb:active {
  background: var(--scrollbar-thumb-active);
  cursor: grabbing;
}
